*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 90px;
    height: 90px;
    margin: center;
    margin-left: 550pt;
    margin-top: 20pt;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:  40px; 
}
nav ul li a{
    text-decoration: none;
    color: #1435f1;
    font-size: 18px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 120px;
    font-weight: 600;
    transition: 0.5s;
    background: linear-gradient(to bottom, #1979f7, 
    #1e8bd3, #66aff3, #ffffff); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;

}

.content h1:hover{
    -webkit-text-stroke: 4px #884c07;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(224, 11, 11);
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}
.back-video{
    position: absolute;
    right: 0%;
    bottom: 0;
    z-index: -1;
    object-fit: cover;

}
@media (min-aspect-ratio:13/9){
    .back-video{
        width: 100%;
        height: 100%;
        max-zoom: 100%;

    }
}